IMAGE_NAME=lunnaospollaris
REPO_ORGANIZATION=wellingtomgarcez8-sudo
IMAGE_DESC="LunnaOS Polaris — independent Linux desktop based on Bazzite"
IMAGE_KEYWORDS="linux,bootc,bazzite,lunnaos,wayland,desktop,gaming"
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/335794903?v=4"
DEFAULT_TAG=latest
BIB_IMAGE=quay.io/centos-bootc/bootc-image-builder:latest
