# LunnaOS kernel baseline
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_PARTITION=y
CONFIG_SQUASHFS=y
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DRM=y
CONFIG_DRM_I915=y
CONFIG_DRM_AMDGPU=y
CONFIG_DRM_NOUVEAU=y
CONFIG_SOUND=y
CONFIG_SND_HDA_INTEL=y
CONFIG_USB_XHCI_HCD=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_INPUT_EVDEV=y
