[Desktop Entry]
Name=LunnaOS Files
Comment=LunnaOS file manager
Exec=lunna-shell --files
Icon=system-file-manager
Terminal=false
Type=Application
Categories=Utility;FileManager;
